USE [Chicago_taxis]
GO
/****** Object:  Table [dbo].[cabs]    ****************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cabs](
	[cab_id] [bigint] NOT NULL,
	[vehicle_id] [varchar](150) NULL,
	[company_name] [varchar](50) NULL,
 CONSTRAINT [PK_cabs] PRIMARY KEY CLUSTERED 
(
	[cab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[neighborhoods]    *******************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[neighborhoods](
	[neighborhood_id] [bigint] NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_neighborhoods] PRIMARY KEY CLUSTERED 
(
	[neighborhood_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trips]    ***************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[cab_id] [bigint] NULL,
	[start_ts] [datetime2](7) NULL,
	[end_ts] [datetime2](7) NULL,
	[duration_seconds] [real] NULL,
	[distance_miles] [real] NULL,
	[pickup_location_id] [bigint] NULL,
	[dropoff_location_id] [bigint] NULL,
 CONSTRAINT [PK_trips] PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weather_records]    *****************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weather_records](
	[record_id] [int] NOT NULL,
	[ts] [datetime2](7) NULL,
	[temperature] [real] NULL,
	[description] [varchar](50) NULL,
 CONSTRAINT [PK_weather_records] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[neighborhoods]  WITH CHECK ADD  CONSTRAINT [FK_neighborhoods_neighborhoods] FOREIGN KEY([neighborhood_id])
REFERENCES [dbo].[neighborhoods] ([neighborhood_id])
GO
ALTER TABLE [dbo].[neighborhoods] CHECK CONSTRAINT [FK_neighborhoods_neighborhoods]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD  CONSTRAINT [FK_trips_cabs] FOREIGN KEY([cab_id])
REFERENCES [dbo].[cabs] ([cab_id])
GO
ALTER TABLE [dbo].[trips] CHECK CONSTRAINT [FK_trips_cabs]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD  CONSTRAINT [FK_trips_neighborhoods] FOREIGN KEY([pickup_location_id])
REFERENCES [dbo].[neighborhoods] ([neighborhood_id])
GO
ALTER TABLE [dbo].[trips] CHECK CONSTRAINT [FK_trips_neighborhoods]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD  CONSTRAINT [FK_trips_neighborhoods1] FOREIGN KEY([dropoff_location_id])
REFERENCES [dbo].[neighborhoods] ([neighborhood_id])
GO
ALTER TABLE [dbo].[trips] CHECK CONSTRAINT [FK_trips_neighborhoods1]
GO

/****** Object:  Table [dbo].[2017_taxi_trips_raw]    *************************/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[2017_taxi_trips_raw](
	[Trip ID] [varchar](max) NULL,
	[Taxi ID] [varchar](max) NULL,
	[Trip Start Timestamp] [varchar](max) NULL,
	[Trip End Timestamp] [varchar](max) NULL,
	[Trip Seconds] [varchar](max) NULL,
	[Trip Miles] [varchar](max) NULL,
	[Pickup Census Tract] [float] NULL,
	[Dropoff Census Tract] [float] NULL,
	[Pickup Community Area] [float] NULL,
	[Dropoff Community Area] [float] NULL,
	[Fare] [varchar](max) NULL,
	[Tips] [varchar](max) NULL,
	[Tolls] [varchar](max) NULL,
	[Extras] [varchar](max) NULL,
	[Trip Total] [varchar](max) NULL,
	[Payment Type] [varchar](max) NULL,
	[Company] [varchar](max) NULL,
	[Pickup Centroid Latitude] [float] NULL,
	[Pickup Centroid Longitude] [float] NULL,
	[Pickup Centroid Location] [varchar](max) NULL,
	[Dropoff Centroid Latitude] [float] NULL,
	[Dropoff Centroid Longitude] [float] NULL,
	[Dropoff Centroid  Location] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
